body{
	margin: 0;
	font-family: "Trebuchet MS", "Tahoma", "Calibri";
}
.bartop{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#ef5350;
	/*background: #f44336;*/
	width:100%;
	margin-bottom: 30px;
	position: fixed;
}
.bartop li{
	float:left;
}
.bartop li a{
	display:block;padding:8px 16px;
	color: white;
}
.bartop li a:hover{
	color:#f44336;
	background-color: white;
	font-size: 18px;
}
.bartop a{
	text-decoration:none!important;
}
.bartop{
	float:right!important;
}
.img-responsive img{
	max-width: 80%;
}
#content{
	float: left;
	padding-left: 1%;
}
.subcontent{
	padding: 35px 0 0 0;
}
p{
	text-align: justify;
}
@media screen and (max-width:600px){
	.bartop li{
		float:none;
		width:100%!important;
	}
	.bartop li{
		float:none!important;
	}
	.bartop{
		position: static;
	}
	#content{
		float: left;
		padding-left: 0;
	}
	.img-responsive img{
		max-width: 100%;
		min-width: 100%;
	}
	h1, h2, p{
		padding: 0 10px 0 10px;
	}
}